<div class="row">
  <div class="col-md-5 col-sm-8 col-centered">
<h2>订单列表 </h2>

    <table class="table tc">
      <thead class="tc">
        <tr class="tc">
          <th class="col-md-6 col-sm-4 tc">#</th>
          <th class="col-md-6 col-sm-4 tc">生成时间</th>

        </tr>
      </thead>
      <tbody>

        <% @orders.each do |order| %>
        <tr>
          <td> <%= link_to(order.id, order_path(order.token)) %> </td>
          <td> <%= order.created_at.to_s(:long) %> </td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
