<footer class="text-center" style="margin-top: 100px;">
   <div class="footer-below">
       <p class="text-center">Copyright ©2016 完美天使
           <br>Design by Ylzuimeng
       </p>
   </div>
  </footer>
